:root {
  --black: rgb(83, 83, 83);
  --white: #fff;
  --color_3: #eee;
  --bg_content: #f1f5f9;
  /* --black: rgb(214, 214, 214);
  --white: #202020;
  --color_3: rgb(48 48 48);
  --bg_content: rgb(18 18 18); */
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: initial;
  display: block;
}
a:hover {
  cursor: default;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: var(--colo-white);  
} 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
} li {
  margin: 0;
  padding: 0; 
}
button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}






/* btn active styling */
.btn_active {
  width: 50px;
  height: 24px;
  background-color: #0075ff;
  border-radius: 12px;
  padding: 2px;
  position: relative;
  transition: all 0.3s;
}
.btn_active .i {
  width: 22px;
  height: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  transition: all 0.3s;
  color: rgb(83, 83, 83);
}
.inactive {
  background-color: var(--color_3);
}






/* menu */
.dashbord {
  display: grid;
  grid-template-columns: 70px minmax(540px, calc(100% - 70px));
}
@media (min-width: 768px) {
  .dashbord {
    display: grid;
    grid-template-columns: 220px calc(100% - 220px);
  }
}
.dashbord .menu {
  padding: 0px 8px;
  box-shadow: 2px 2px 15px var(--color_3);
  position: relative;
  z-index: 2;
  background-color: var(--white);
  min-height: 100vh;
}
@media (min-width: 768px) {
  .dashbord .menu {
    padding: 0px 12px;
  }  
}
.dashbord .menu .title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 16px 0px;
  color: var(--black);
}
@media (min-width: 768px) {
  .dashbord .menu .title {
    font-size: 24px;
    margin: 20px 0px;
  }
}
.dashbord .menu .line {
  border: 1px solid var(--black);
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  display: none;
}
@media (min-width: 768px) {
  .dashbord .menu .line {
    display: flex;
  }
}
.dashbord .menu .line .circle {
  width: 14px;
  height: 14px;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  top: -7px;
  border: 2px solid var(--white);
}
.dashbord .menu ul {
  position: sticky;
  top: 14px;
  z-index: 100;
}
@media (min-width: 768px) {
  .dashbord .menu ul {
    top: 14px;
  }
}
.dashbord .menu ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 6px;
  margin-bottom: 4px;
  transition: all 0.1s;
  border-radius: 8px;
  color: var(--black);
  display: flex;
  justify-content: center;
}
.dashbord .menu ul li .active {
  background-color: var(--color_3);
}
.dashbord .menu ul li a:hover {
  background-color: var(--color_3);
}
@media (min-width: 768px) {
  .dashbord .menu ul li a {
    display: block;
  }
}
.dashbord .menu ul li a span {
  display: none;
}
@media (min-width: 768px) {
  .dashbord .menu ul li a span {
    display: inline;
  }
}
/* menu */






/* nav */
.dashbord .content {
  background-color: var(--bg_content);
  position: relative;
  z-index: 1;
}
.dashbord .content .nav_page {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 2px 15px var(--color_3);
}
.dashbord .content .nav_page .input .ab_input {
  width: fit-content;
  background-color: var(--bg_content);
  padding: 10px;
  font-size: 16px;  
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  width: 140px;
  transition: width 0.2s;
}
.dashbord .content .nav_page .input .ab_input:first-child {
  color: var(--black);
}
.dashbord .content .nav_page .input .ab_input input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  color: var(--black);
  background-color: var(--colo-white);
}
.dashbord .content .nav_page .profile {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.dashbord .content .nav_page .profile .masseg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  position: relative;
  color: var(--black);
}
.dashbord .content .nav_page .profile .masseg span {
  background-color: red;
  color: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  right: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashbord .content .nav_page .profile img {
  width: 42px;
  height: 42px;
}
/* nav */






/* title */
.dashbord .content .title {
  padding: 14px 20px;
}
.dashbord .content .title h1 {
  text-transform: capitalize;
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--black);
}
.dashbord .content .title .line {
  height: 4px;
  background-color: var(--color_3);
  width: 140px;
  margin-bottom: 20px;
}
.dashbord .content .title .line span {
  display: block;
  width: 40%;
  height: 100%;
  background-color: var(--black);
}
/* title */






/* dashbord content */
.dashbord .content .dashbord_content {
  padding: 0px 20px;
  display: none;
}
.dashbord .content .dashbord_content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}


/* welcom */
.dashbord .content .dashbord_content .boxs .welcom {
  background-color: var(--white);
  border-radius: 14px;
}
.dashbord .content .dashbord_content .boxs .welcom .bg {
  display: flex;
  justify-content: space-between;
  background-color: var(--color_3);
  padding: 10px;
  min-height: 150px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;  
}
.dashbord .content .dashbord_content .boxs .welcom .bg .text h2 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
}
.dashbord .content .dashbord_content .boxs .welcom .bg .text p {
  font-size: 22px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .welcom .bg img {
  width: 50%;
}
.dashbord .content .dashbord_content .boxs .welcom .img_profile {
  padding: 0px 20px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .welcom .img_profile img {
  width: 80px;
  margin-top: -40px;
}
.dashbord .content .dashbord_content .boxs .welcom .byo {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  column-gap: 20px;
}
@media (min-width: 768px) {
  .dashbord .content .dashbord_content .boxs .welcom .byo {
    padding: 20px 80px;
  }
}
.dashbord .content .dashbord_content .boxs .welcom .byo h2 {
  text-align: center;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
  font-weight: 600;
}
.dashbord .content .dashbord_content .boxs .welcom .byo p {
  text-align: center;
  font-size: 14px;
  color: var(--black);
  margin-bottom: 10px;
  font-weight: 100;
}
.dashbord .content .dashbord_content .boxs .welcom .btn_profile {
  padding: 40px 20px;
  display: flex;
  justify-content: flex-end;
}
.dashbord .content .dashbord_content .boxs .welcom .btn_profile .btn {
  font-size: 14px;
  padding: 6px 10px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
  background-color: #0075ff;
}



/* quick draft */
.dashbord .content .dashbord_content .boxs .quick_draft {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px;
}
.dashbord .content .dashbord_content .boxs .quick_draft h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .dashbord_content .boxs .quick_draft p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .quick_draft form :first-child {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color_3);
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .quick_draft form :nth-child(2) {
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  background-color: var(--color_3);
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .quick_draft form :nth-child(3) {
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #0075ff;
  color: #fff;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: auto;
}
.dashbord .content .dashbord_content .boxs .quick_draft form input {
  display: block;
}



/* yearl targets */
.dashbord .content .dashbord_content .boxs .yearl_targets {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab {
  display: flex;
  column-gap: 14px;
  margin-bottom: 14px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .logo {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .values {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .values p {
  margin: 0;
  font-size: 16px;
  margin-bottom: 6px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .values h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .values .val {
  margin-left: auto;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .values .line {
  width: 100%;
  height: 6px;
}
.dashbord .content .dashbord_content .boxs .yearl_targets .tab .values .line span {
  display: block;
  height: 100%;
  position: relative;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(3) .logo {
  color: #0075ff;
  background-color: #cce3ff;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(3) .values .line {
  background-color: #cce3ff;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(3) .values .line span {
  background-color: #0075ff;
  width: 80%;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(4) .logo {
  color: #f59e0b;
  background-color: #fdecce;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(4) .values .line {
  background-color: #fdecce;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(4) .values .line span {
  background-color: #f59e0b;
  width: 55%;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(5) .logo {
  color: #22c55e;
  background-color: #d3f3df;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(5) .values .line {
  background-color: #d3f3df;
}
.dashbord .content .dashbord_content .boxs .yearl_targets :nth-child(5) .values .line span {
  background-color: #22c55e;
  width: 75%;
}



/* tickets statistics */
.dashbord .content .dashbord_content .boxs .tickets_statistics {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs .box {
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0px;
  border-radius: 8px;
}

.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs .box :nth-child(1) {
  font-size: 22px;
  margin-bottom: 10px;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs .box :nth-child(2) {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs .box :nth-child(3) {
  font-size: 14px;
  margin: 0px;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs :nth-child(1) :nth-child(1) {
  color: #f59e0b;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs :nth-child(2) :nth-child(1) {
  color: #0075ff;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs :nth-child(3) :nth-child(1) {
  color: #22c55e;
}
.dashbord .content .dashbord_content .boxs .tickets_statistics .boxs :nth-child(4) :nth-child(1) {
  color: #f44336;
}



/* latest news */
.dashbord .content .dashbord_content .boxs .latest_news {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .latest_news h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .latest_news .tab {
  display: flex;
  column-gap: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .dashbord .content .dashbord_content .boxs .latest_news .tab {
    flex-direction: row;
  }
}
.dashbord .content .dashbord_content .boxs .latest_news .tab img {
  height: 80px;
}
@media (min-width: 768px) {
  .dashbord .content .dashbord_content .boxs .latest_news .tab img {
    height: 42.78px;
  }
}
.dashbord .content .dashbord_content .boxs .latest_news .tab .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashbord .content .dashbord_content .boxs .latest_news .tab .text h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--black); 
  text-transform: capitalize;
  text-align: center;
}
.dashbord .content .dashbord_content .boxs .latest_news .tab .text p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  text-align: center;
}
@media (min-width: 768px) {
  .dashbord .content .dashbord_content .boxs .latest_news .tab .text h2 {
    text-align: left;
  }
  .dashbord .content .dashbord_content .boxs .latest_news .tab .text p {
    text-align: left;
  }
}
.dashbord .content .dashbord_content .boxs .latest_news .tab .days {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.dashbord .content .dashbord_content .boxs .latest_news .tab .days p {
  font-size: 14px;
  background-color: var(--color_3);
  padding: 6px 10px;
  color: var(--black);
  text-transform: capitalize;
  border-radius: 8px;
}



/* latest tasks */
.dashbord .content .dashbord_content .boxs .latest_tasks {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .latest_tasks h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .latest_tasks .tab {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .content .dashbord_content .boxs .latest_tasks .tab h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--black); 
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .latest_tasks .tab p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .latest_tasks .tab .i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: color 0.1s;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .latest_tasks .tab .i:hover {
  color: #f44336;
}



/* top search items */
.dashbord .content .dashbord_content .boxs .top_search_items {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .top_search_items h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .top_search_items .tab {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .content .dashbord_content .boxs .top_search_items .t {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.dashbord .content .dashbord_content .boxs .top_search_items .t p {
  font-size: 18px;
  font-weight: 300;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .top_search_items .tab .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashbord .content .dashbord_content .boxs .top_search_items .tab h2 {
  font-weight: 600;
  font-size: 18px;
  color: var(--black); 
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .top_search_items .tab p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .top_search_items .tab .count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashbord .content .dashbord_content .boxs .top_search_items .tab .count p {
  background-color: var(--color_3);
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 8px;
}



/* latest uploads */
.dashbord .content .dashbord_content .boxs .latest_uploads {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .latest_uploads h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab {
  display: flex;
  column-gap: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab img {
  height: 42.78px;
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab .text h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--black); 
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab .text p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab .days {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.dashbord .content .dashbord_content .boxs .latest_uploads .tab .days p {
  font-size: 14px;
  background-color: var(--color_3);
  padding: 6px 10px;
  color: var(--black);
  text-transform: capitalize;
  border-radius: 8px;
}




/* last project progress */
.dashbord .content .dashbord_content .boxs .last_project_progress {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
  position: relative;
}
.dashbord .content .dashbord_content .boxs .last_project_progress h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .last_project_progress .tab {
  display: flex;
  column-gap: 10px;
  padding: 20px 0px;
}
.dashbord .content .dashbord_content .boxs .last_project_progress .tab .i .circl {
  width: 28px;
  height: 28px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #0075ff;
  position: relative;
}
.dashbord .content .dashbord_content .boxs .last_project_progress .tab .i .circl .content {
  width: 100%;
  height: 100%;
  background-color: #0075ff;
  border-radius: 50%;
}
.dashbord .content .dashbord_content .boxs .last_project_progress :nth-child(5) .i .circl .content {
  animation: anc 1s infinite linear; 
}
@keyframes anc {
  0%, 100% {
    background-color: var(--white);
  } 30% {
    background-color: #0075ff;
  }
}
.dashbord .content .dashbord_content .boxs .last_project_progress .tab .i .circl .icouale {
  position: absolute;
  height: 40px;
  width: 2px;
  background-color: #0075ff;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
}
.dashbord .content .dashbord_content .boxs .last_project_progress .tab h2 {
  font-weight: 600;
  font-size: 18px;
  color: var(--black); 
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.dashbord .content .dashbord_content .boxs .last_project_progress img {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 1;
  opacity: 0.2;
  width: 200px;
  border-radius: 50%;
}



/* reminders */
.dashbord .content .dashbord_content .boxs .reminders {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .reminders h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .reminders .tab {
  display: flex;
  padding: 20px 0px;
  column-gap: 20px;
}
.dashbord .content .dashbord_content .boxs .reminders .tab .i {
  width: 50px;
  height: 42.78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(2) .i {
  border-right: 3px solid #0075ff;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(3) .i {
  border-right: 3px solid #22c55e;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(4) .i {
  border-right: 3px solid #f59e0b;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(5) .i {
  border-right: 3px solid #f44336;
}
.dashbord .content .dashbord_content .boxs .reminders .tab .i .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(2) .i .circle {
  background-color: #0075ff;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(3) .i .circle {
  background-color: #22c55e;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(4) .i .circle {
  background-color: #f59e0b;
}
.dashbord .content .dashbord_content .boxs .reminders :nth-child(5) .i .circle {
  background-color: #f44336;
}
.dashbord .content .dashbord_content .boxs .reminders .tab h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--black); 
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .reminders .tab p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}



/* latest_post */
.dashbord .content .dashbord_content .boxs .latest_post {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .latest_post h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .latest_post .profile {
  display: flex;
  column-gap: 20px;
  padding: 0px 0px 20px 0px;
}
.dashbord .content .dashbord_content .boxs .latest_post .profile img {
  width: 60px;
  height: 60px;
}
.dashbord .content .dashbord_content .boxs .latest_post .profile .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashbord .content .dashbord_content .boxs .latest_post .profile .text h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 6px;
  color: var(--black); 
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .latest_post .profile .text p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .latest_post .content_post {
  font-size: 18px;
  padding: 20px 0px;
  line-height: 30px;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  color: var(--black);
}
.dashbord .content .dashbord_content .boxs .latest_post .l_c {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.dashbord .content .dashbord_content .boxs .latest_post .l_c p {
  font-size: 18px;
  color: var(--black);
}



/* social media stats */
.dashbord .content .dashbord_content .boxs .social_media_stats {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 20px 20px 20px;
}
.dashbord .content .dashbord_content .boxs .social_media_stats h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .boxs .social_media_stats .tab {
  display: flex;
  margin-bottom: 10px;
}
.dashbord .content .dashbord_content .boxs .social_media_stats .tab .logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1da1f2;
  font-size: 22px;
  color: #fff;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(2) .logo {
  background-color: #1da1f2;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(3) .logo {
  background-color: #1877f2;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(4) .logo {
  background-color: red;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(6) .logo {
  background-color: #0077b5;
}
.dashbord .content .dashbord_content .boxs .social_media_stats .tab .t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  background-color: #d2ecfc;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(2) .t {
  background-color: #d2ecfc;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(3) .t {
  background-color: #d1e4fc;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(4) .t {
  background-color: #ffcccc;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(5) .t {
  background-color: #cce4f0;
}
.dashbord .content .dashbord_content .boxs .social_media_stats .tab .t h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(2) .t h2 {
  color: #1da1f2;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(3) .t h2 {
  color: #1877f2;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(4) .t h2 {
  color: red;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(5) .t h2 {
  color: #0077b5;
}
.dashbord .content .dashbord_content .boxs .social_media_stats .tab .t button {
  font-size: 14px;
  padding: 6px 10px;
  color: var(--white);
  text-transform: capitalize;
  border-radius: 8px;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(2) .t button {
  background-color: #1da1f2;
  color: #fff;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(3) .t button {
  background-color: #1877f2;
  color: #fff;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(4) .t button {
  background-color: red;
  color: #fff;
}
.dashbord .content .dashbord_content .boxs .social_media_stats :nth-child(5) .t button {
  background-color: #0077b5;
  color: #fff;
}



/* projects */
.dashbord .content .dashbord_content .ab_projects {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .ab_projects h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 20px;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb {
  overflow: auto;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table {
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  width: 100%;
  width: 1060px;
  border-collapse: collapse;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table tr:hover {
  background-color: var(--color_3);
  transition: color 0.3s;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table tr th {
  background-color: var(--color_3);
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);
  font-size: 18px;
  color: var(--black);
  text-align: left;
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table tr td {
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table tr td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table tr td img:not(:first-child) {
  margin-left: -20px;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table tr td span {
  font-size: 14px;
  padding: 6px 10px;
  color: var(--black);
  text-transform: capitalize;
  border-radius: 8px;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table :nth-child(2) td span {
  background-color:#f59e0b;
  color: #fff;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table :nth-child(3) td span {
  background-color: #0075ff;
  color: #fff;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table :nth-child(4) td span {
  background-color:#22c55e;
  color: #fff;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table :nth-child(5) td span {
  background-color: #22c55e;
  color: #fff;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table :nth-child(6) td span {
  background-color:#f44336;
  color: #fff;
}
.dashbord .content .dashbord_content .ab_projects .ab_tb table :nth-child(7) td span {
  background-color: #22c55e;
  color: #fff;
}
/* dashbord content */






/* settings content */
.dashbord .content .settings_content {
  padding: 0px 20px;
  margin-bottom: 20px;
  display: none;
}
.dashbord .content .settings_content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 20px;
}



/* site control */
.dashbord .content .settings_content .boxs .site_control {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
}
.dashbord .content .settings_content .boxs .site_control h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .settings_content .boxs .site_control p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .site_control .tab {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.dashbord .content .settings_content .boxs .site_control .tab h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .site_control .tab p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .site_control .ab_btn {
  display: flex;
  align-items: center;
}
.dashbord .content .settings_content .boxs .site_control textarea {
  width: 100%;
  height: 180px;
  border: none;
  outline: none;
  background-color: var(--color_3);
  font-size: 14px;
  padding: 10px;
  color: var(--black);
  resize: none;
}



/* general info */
.dashbord .content .settings_content .boxs .general_info {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
}
.dashbord .content .settings_content .boxs .general_info h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .settings_content .boxs .general_info p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .general_info form {
  padding: 20px 0px;
  margin: 0;
}
.dashbord .content .settings_content .boxs .general_info form :nth-child(1) {
  display: block;
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .content .settings_content .boxs .general_info form :nth-child(3) {
  display: block;
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .content .settings_content .boxs .general_info form :nth-child(5) {
  display: block;
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .content .settings_content .boxs .general_info form :nth-child(2) {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color_3);
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--black); 
}
.dashbord .content .settings_content .boxs .general_info form :nth-child(4) {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color_3);
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--black); 
}
.dashbord .content .settings_content .boxs .general_info form .e_c {
  display: flex;
}
.dashbord .content .settings_content .boxs .general_info form .e_c :nth-child(1) {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--bg_content);
  font-size: 14px;
  padding: 10px;
  color: var(--black);
  margin: 0;
}
.dashbord .content .settings_content .boxs .general_info form .e_c :nth-child(2) {
  width: fit-content;
  background-color: transparent;
  display: block;
  font-size: 18px;
  color: #0075ff;
  text-transform: capitalize; 
  margin: 0;
}



/* general info */
.dashbord .content .settings_content .boxs .security_info {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
}
.dashbord .content .settings_content .boxs .security_info h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .settings_content .boxs .security_info p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .security_info .tab {
  display: flex;
  column-gap: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .content .settings_content .boxs .security_info .tab img {
  height: 42.78px;
}
.dashbord .content .settings_content .boxs .security_info .tab .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashbord .content .settings_content .boxs .security_info .tab .text h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--black); 
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .security_info .tab .text p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .security_info .tab .days {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.dashbord .content .settings_content .boxs .security_info .tab .days button {
  font-size: 14px;
  background-color: var(--color_3);
  padding: 6px 10px;
  color: var(--black);
  text-transform: capitalize;
  border-radius: 8px;
}
.dashbord .content .settings_content .boxs .security_info :nth-child(3) .days button {
  background-color: #0075ff;
  color: #fff;
}



/* social info */
.dashbord .content .settings_content .boxs .social_info {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
}
.dashbord .content .settings_content .boxs .social_info h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .settings_content .boxs .social_info p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .social_info .tab {
  display: flex;
  margin: 20px 0px;
}
.dashbord .content .settings_content .boxs .social_info .tab .i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: var(--black);
  font-size: 16px;
  border: 1px solid var(--black);
  background-color: var(--color_3);
}
.dashbord .content .settings_content .boxs .social_info .tab input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--color_3);
  font-size: 14px;
  padding: 10px;
  color: var(--black); 
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}



/* widgets control */
.dashbord .content .settings_content .boxs .widgets_control {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
}
.dashbord .content .settings_content .boxs .widgets_control h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .settings_content .boxs .widgets_control p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .content .settings_content .boxs .widgets_control .tab {
  padding: 10px 0px;
  display: flex;
  column-gap: 10px;
}
.dashbord .content .settings_content .boxs .widgets_control label {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .widgets_control input {
  width: 18px;
  height: 18px;
  accent-color: #0075ff;
}



/* backup manager */
.dashbord .content .settings_content .boxs .backup_manager {
  background-color: var(--white);
  border-radius: 14px;
  padding: 10px 10px 20px 10px;
}
.dashbord .content .settings_content .boxs .backup_manager h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .content .settings_content .boxs .backup_manager  p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .content .settings_content .boxs .backup_manager .tab {
  padding: 10px 0px;
  display: flex;
  column-gap: 10px;
}
.dashbord .content .settings_content .boxs .backup_manager .tab label {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.dashbord .content .settings_content .boxs .backup_manager .tab input {
  width: 20px;
  height: 20px;
  accent-color: #0075ff;
}
.dashbord .content .settings_content .boxs .backup_manager :nth-child(5) {
  border-bottom: 1px solid var(--black);
  margin-bottom: 20px;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs {
  display: flex;
  column-gap: 10px;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  border: 1px solid var(--black);
  font-size: 18px;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs .box :nth-child(1) {
  color: var(--black);
  margin-bottom: 10px;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs .box :nth-child(2) {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs > :nth-child(2) {
  border: 2px solid #0075ff;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs > :nth-child(2) :nth-child(1) {
  color: #0075ff;
}
.dashbord .content .settings_content .boxs .backup_manager .tab_boxs > :nth-child(2) :nth-child(2) {
  color: #0075ff;
}
/* settings content */






/* profile content */
.dashbord .profile_content {
  padding: 0px 20px;
  display: none;
}



/* profile */
.dashbord .profile_content .profile_settings {
  background-color: var(--white);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 14px;
}
.dashbord .profile_content .profile_settings .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.dashbord .profile_content .profile_settings .profile .bg_profile {
  height: 160px;
  overflow: hidden;
}
.dashbord .profile_content .profile_settings .profile .bg_profile img {
  border-radius: 0%;
  display: block;
  width: 100%;
}
.dashbord .profile_content .profile_settings .profile {
  padding-bottom: 20px;
}
.dashbord .profile_content .profile_settings .profile img {
  border-radius: 50%;
  width: 140px;
  margin-bottom: 10px;
  margin-top: -70px;
}
.dashbord .profile_content .profile_settings .profile h2 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
}
.dashbord .profile_content .profile_settings .profile .line {
  height: 4px;
  background-color: var(--color_3);
  width: 140px;
  margin-bottom: 10px;
}
.dashbord .profile_content .profile_settings .profile .line span {
  display: block;
  width: 70%;
  height: 100%;
  background-color: #0075ff;
}
.dashbord .profile_content .profile_settings .profile p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .profile_content .profile_settings .profile :last-child {
  margin: 0;
}
.dashbord .profile_content .profile_settings .profile .stars {
  margin-bottom: 10px;
  color: #f59e0b;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: 18px;
}
.dashbord .profile_content .profile_settings .settings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.dashbord .profile_content .profile_settings .settings .tab {
  padding: 20px;
  border: 1px solid var(--black);
  position: relative;
  border-radius: 14px;
}
.dashbord .profile_content .profile_settings .settings .tab:hover {
  background-color: var(--color_3);
}
.dashbord .profile_content .profile_settings .settings .tab .box p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .profile_content .profile_settings .settings .tab .one p {
  margin-bottom: 10px;
}
.dashbord .profile_content .profile_settings .settings .tab .one p span {
  font-weight: 600;
}
.dashbord .profile_content .profile_settings .settings .tab .one .btn_active {
  position: absolute;
  right: 20px;
  top: 20px;
}
.dashbord .profile_content .profile_settings .settings .tab .tow p {
  margin-bottom: 10px;
}
.dashbord .profile_content .profile_settings .settings .tab .three p {
  margin-bottom: 10px;
}



/* skills activities */
.dashbord .profile_content .skills_activities {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .dashbord .profile_content .skills_activities {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 20px;
  }
}
/* skills */
.dashbord .profile_content .skills_activities .skills {
  background-color: var(--white);
  padding: 20px 10px;
  margin-bottom: 20px;
  border-radius: 14px;
}
@media (min-width: 992px) {
  .dashbord .profile_content .skills_activities .skills {
    margin-bottom: 0px;
  }
}
.dashbord .profile_content .skills_activities .skills h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .profile_content .skills_activities .skills > p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .profile_content .skills_activities .skills .tab {
  display: flex;
  column-gap: 6px;
  border-bottom: 1px solid var(--black);
  padding: 20px 0px;
}
.dashbord .profile_content .skills_activities .skills :last-child {
  padding-bottom: 0px;
  border: none;
}
.dashbord .profile_content .skills_activities .skills .tab p {
  font-size: 14px;
  padding: 6px 10px;
  color: var(--black);
  border-radius: 8px;
  background-color: var(--color_3);
}



/* activities */
.dashbord .profile_content .skills_activities .activities {
  background-color: var(--white);
  padding: 20px 10px;
  border-radius: 14px;
}
.dashbord .profile_content .skills_activities .activities h1 {
  font-size: 28px;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 6px;
}
.dashbord .profile_content .skills_activities .activities > p {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .profile_content .skills_activities .activities .tab {
  display: flex;
  column-gap: 10px;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .profile_content .skills_activities .activities :last-child {
  border: none;
  padding-bottom: 0px;
}
.dashbord .profile_content .skills_activities .activities .tab .img {
  display: flex;
  align-items: center;
}
.dashbord .profile_content .skills_activities .activities .tab .img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.dashbord .profile_content .skills_activities .activities .tab .texts {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.dashbord .profile_content .skills_activities .activities .tab .texts .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashbord .profile_content .skills_activities .activities .tab .texts .box p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 6px;
}
/* profile content */






/* projects content */
.dashbord .projects_content {
  padding: 0px 20px;
  display: none;
}
.dashbord .projects_content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.dashbord .projects_content .boxs .box {
  background-color: var(--white);
  border-radius: 14px;
  padding: 20px 10px;
  position: relative;
}
.dashbord .projects_content .boxs .box p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dashbord .projects_content .boxs .box .imgs {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black);
}
.dashbord .projects_content .boxs .box .imgs img {
  border-radius: 50%;
  width: 40px;
  margin-left: -20px;
}
.dashbord .projects_content .boxs .box .imgs :first-child {
  margin: 0;
}
.dashbord .projects_content .boxs .box .skills {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .projects_content .boxs .box .skills p {
  font-size: 14px;
  padding: 6px 10px;
  color: var(--black);
  border-radius: 8px;
  background-color: var(--color_3);
}
.dashbord .projects_content .boxs .box .ab_line {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.dashbord .projects_content .boxs .box .ab_line .line {
  height: 4px;
  background-color: var(--color_3);
  width: 280px;
}
.dashbord .projects_content .boxs .box .ab_line .line span {
  display: block;
  width: 70%;
  height: 100%;
  background-color: #0075ff;
}
.dashbord .projects_content .boxs .box .ab_line .pre {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin: 0px;
  color: #0075ff;
}
.dashbord .projects_content .boxs .box .date {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  right: 10px;
}
/* projects content */






/* courser content */
.dashbord .courser_content {
  padding: 0px 20px;
  display: none;
}
.dashbord .courser_content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .dashbord .courser_content .boxs {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
.dashbord .courser_content .boxs .box {
  background-color: var(--white);
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}
.dashbord .courser_content .boxs .box .photo_profile {
  width: 70px;
  height: 70px;
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.dashbord .courser_content .boxs .box .photo_profile img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.dashbord .courser_content .boxs .box .img img {
  display: block;
  width: 100%;
}
.dashbord .courser_content .boxs .box .texts h2 {
  font-weight: 900;
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin: 20px;
}
.dashbord .courser_content .boxs .box .texts p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin: 20px 20px 40px;
  line-height: 20px;
}
.dashbord .courser_content .boxs .box .ab_btn {
  display: flex;
  justify-content: center;
  position: relative;
}
.dashbord .courser_content .boxs .box .ab_btn button {
  font-size: 14px;
  background-color: #0075ff;
  padding: 6px 10px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
  position: absolute;
  top: -14px;
}
.dashbord .courser_content .boxs .box .line {
  border: 1px solid var(--bg_content);
}
.dashbord .courser_content .boxs .box .data {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.dashbord .courser_content .boxs .box .data {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
/* courser content */





/* frinds content */
.dashbord .frinds_content {
  padding: 0px 20px;
  display: none;
}
.dashbord .frinds_content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.dashbord .frinds_content .boxs .box {
  background-color: var(--white);
  border-radius: 14px;
  padding: 20px 10px;
}
.dashbord .frinds_content .boxs .box .f_e {
  display: flex;
  column-gap: 6px;
}
.dashbord .frinds_content .boxs .box .f_e section {
  font-size: 14px;
  padding: 6px 10px;
  color: var(--black);
  border-radius: 50%;
  background-color: var(--color_3);
  transition: color 0.2s;
}
.dashbord .frinds_content .boxs .box .f_e section:hover {
  background-color: #0075ff;
  color: #fff;
}
.dashbord .frinds_content .boxs .box .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--black);
}
.dashbord .frinds_content .boxs .box .profile img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.dashbord .frinds_content .boxs .box .profile h2 {
  font-weight: 900;
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin: 10px 0px;  
}
.dashbord .frinds_content .boxs .box .profile p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.dashbord .frinds_content .boxs .box .data {
  border-bottom: 1px solid var(--black);
}
.dashbord .frinds_content .boxs .box .data p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  margin: 20px 0px;
}
.dashbord .frinds_content .boxs .box .d_b {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.dashbord .frinds_content .boxs .box .d_b p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.dashbord .frinds_content .boxs .box .d_b .btns :first-child {
  font-size: 14px;
  background-color: #0075ff;
  padding: 6px 10px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
}
.dashbord .frinds_content .boxs .box .d_b .btns :last-child {
  font-size: 14px;
  background-color: #f44336;
  padding: 6px 10px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
}
/* frinds content */






/* files */
.dashbord .files_content {
  padding: 0px 20px;
  display: none;
}
.dashbord .files_content .b_1_2 {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .dashbord .files_content .b_1_2 {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 20px;
  }
}
.dashbord .files_content .b_1_2 .b_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.dashbord .files_content .b_1_2 .b_1 .box {
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
}
.dashbord .files_content .b_1_2 .b_1 .box .btn_d {
  font-size: 14px;
  color: var(--black);
}
.dashbord .files_content .b_1_2 .b_1 .box img {
  display: block;
  width: 80px;
  margin: 0px auto 20px;
}
.dashbord .files_content .b_1_2 .b_1 .box h2 {
  font-size: 16px;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.dashbord .files_content .b_1_2 .b_1 .box > p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
  border-bottom: 1px solid var(--black);
  padding-bottom: 10px;
}
.dashbord .files_content .b_1_2 .b_1 .box .data {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px;
}
.dashbord .files_content .b_1_2 .b_1 .box .data p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .files_content .b_1_2 .b_2 {
  background-color: var(--white);
  padding: 20px 10px;
  height: fit-content;
  margin-bottom: 20px;
}
.dashbord .files_content .b_1_2 .b_2 h2 {
  text-transform: capitalize;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--black);
}
.dashbord .files_content .b_1_2 .b_2 .tab {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--black);
}
.dashbord .files_content .b_1_2 .b_2 :nth-child(2) .i {
  background-color: rgb(204 227 255);
  color: #0075ff;
}
.dashbord .files_content .b_1_2 .b_2 :nth-child(3) .i {
  background-color: rgb(211 243 223);
  color: #22c55e;
}
.dashbord .files_content .b_1_2 .b_2 :nth-child(4) .i {
  background-color: rgb(253 217 215);
  color: #f44336;
}
.dashbord .files_content .b_1_2 .b_2 :nth-child(5) .i {
  background-color: rgb(253 236 206);
  color: #f59e0b;
}
.dashbord .files_content .b_1_2 .b_2 .tab .i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 16px;
}
.dashbord .files_content .b_1_2 .b_2 .tab .des {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashbord .files_content .b_1_2 .b_2 .tab .des p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .files_content .b_1_2 .b_2 .tab .st {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.dashbord .files_content .b_1_2 .b_2 .tab .st p {
  font-size: 14px;
  color: var(--black);
  text-transform: capitalize;
}
.dashbord .files_content .b_1_2 .b_2 .btn {
  background-color: #0075ff;
  color: #fff;
  width: fit-content;
  padding: 10px;
  display: flex;
  column-gap: 10px;
  border-radius: 6px;
  margin: 0 auto;  
}
.dashbord .files_content .b_1_2 .b_2 .btn button {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
}
/* files */






/* plans */
.dashbord .plans_content {
  padding: 0px 20px;
  display: none;
}
.dashbord .plans_content .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.dashbord .plans_content .box {
  background-color: var(--white);
  padding: 20px;
  border-radius: 14px;
}
.dashbord .plans_content .boxs .header {
  width: 100%;
  padding: 4px;
}
.dashbord .plans_content .boxs .header .content {
  border: 4px solid #fff;
}
.dashbord .plans_content :nth-child(1) .header {
  background-color: #22c55e;
}
.dashbord .plans_content :nth-child(1) .header .content {
  background-color: #22c55e;
}
.dashbord .plans_content :nth-child(2) .header {
  background-color: #0075ff;
}
.dashbord .plans_content :nth-child(2) .header .content {
  background-color: #0075ff;
}
.dashbord .plans_content :nth-child(3) .header {
  background-color: #f59e0b;
}
.dashbord .plans_content :nth-child(3) .header .content {
  background-color: #f59e0b;
}
.dashbord .plans_content .boxs .header .content h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  padding: 20px 0px 10px;
}
.dashbord .plans_content .boxs .header .content p {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dashbord .plans_content .boxs .header .content p span {
  font-size: 26px;
  margin-right: 8px;
}
.dashbord .plans_content .boxs .tab {
  display: flex;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black);
}
.dashbord .plans_content .boxs .tab .fa-check {
  color: #22c55e;
}
.dashbord .plans_content .boxs .tab .fa-xmark {
  color: #f44336;
}
.dashbord .plans_content .boxs .tab p {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--black);
}
.dashbord .plans_content .boxs .tab :last-child {
  margin-left: auto;
  color: var(--black);
}
.dashbord .plans_content :first-child .btn {
  font-size: 16px;
  padding: 6px 10px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 8px;
  background-color: #22c55e;
  width: fit-content;
  margin-top: 20px;
}
.dashbord .plans_content :nth-child(2) .btn {
  background-color: #0075ff;
}
.dashbord .plans_content .boxs .your {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--black);
  text-align: center;
  padding-top: 20px;
}
/* plans */